<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>uk-progress</title>
    </head>
    <body>
        <div id="app">
            <div>
                <span>Value: </span>
                <select v-model="selectedValue" style="margin:20px 20px 20px 5px;">
                    <option v-for="option of options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>Max: </span>
                <select v-model="selectedMax" style="margin:20px 20px 20px 5px;">
                    <option v-for="option of options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
            </div>
            <div>
                <span>Color: </span>
                <span style="margin:20px 20px 20px 5px;">
                    <input type="radio" value="default" id="default" v-model="selectedColor">
                    <label for="default">default</label>
                    <input type="radio" value="success" id="success" v-model="selectedColor">
                    <label for="success">success</label>
                    <input type="radio" value="warning" id="warning" v-model="selectedColor">
                    <label for="warning">warning</label>
                    <input type="radio" value="danger" id="danger" v-model="selectedColor">
                    <label for="danger">danger</label>
                    <input v-model.lazy="selectedColor">
                </span>
            </div>
            <div>
                <span>Width: </span>
                <select v-model="selectedWidth" style="margin:20px 5px 20px 5px;">
                    <option v-for="option of options" :value="option.value">
                        {{ option.text }}
                    </option>
                </select>
                <span>%</span>
            </div>
            <!-- The progress component usage -->
            <uk-progress :value="selectedValue"
                         :max="selectedMax"
                         :color="selectedColor"
                         :width="width">
            </uk-progress>
        </div>
        <script src="/bundle.js"></script>
    </body>
</html>
